* {
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;


}
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 78, 207);
    flex-direction: column;
}
h1, p {
    text-align: center;
    
}
.container{
    width: 100vw;
    height: 100vh;
    font-size: larger;
    max-width: 80%;
    background-color: white;
    margin: 15px auto;
    border-radius: 8px;
    padding:15px;
    box-shadow: 0 0 12px 4px;
    text-align: center;
}
#start-btn, #vhs-btn {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    align-items: ;
    cursor: pointer;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: rgb(45, 70, 211);
}

#start-btn:hover {
    border-color: black;
}

#question-box {
    min-height: 50px;
    background-color: teal;
    border-radius: 8px;
    color: white;
    padding: 15px;
    float: left;
    width: 100%;
    font-size: 25px;
}
.btn-grid {
    display: grid;
    border-radius: 4px;
    padding: 20px 5px;
    box-shadow: 0 0 4px grey;
    gap: 10px;
    margin: 20px 0;
    background-color:teal;
    color: white;
    font-size: large;
}
.btn:hover {
    border-color: black;
}
.btn {
    border: 2px solid lightblue;
    background-color: rgb(148, 215, 238);
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    cursor: pointer;
}

.home {
    background-color: honeydew;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
}
.hide {
    display: none;
}
#question-box {
   
}
.highScores {
     
}
.btn.correct {
    background-color: lightgreen;
}
.btn.incorrect {
    background-color: rgb(230, 67, 67);
}
#countdown {
    text-align: center;
    padding: 15x;
    
}